:root {
  --myColor: rgb(131, 128, 128);
}

/* ------------------------------------------------------------------- */

@font-face {
  font-family: YekanBold;
  src: url(/assets/fonts/YekanBakh-Boldt.ttf);
}

* {
  box-sizing: border-box;
  font-family: YekanBold;
  margin: 0;
}

body {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #eceaea;
  overflow: hidden;
}

.page-wrapper{
  margin-top: 10px;
}

.progress-steps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto 1.5rem auto;
  width: 80%;
  flex-wrap: wrap;
}
.step-number {
  background-color: var(--myColor);
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 94%;
  padding: 4px 3px 3px 2px;
  width: 23px;
  margin-left: 3px;
  font-size: 0.8rem;
}
.step-title {
  color: var(--myColor);
  font-size: 14px;
}
.step-divider {
  width: 75px;
  height: 1px;
  background-color: var(--myColor);
}

.step-number--active {
  background-color: black;
  color: #fff;
}
.step-title--active {
  color: black;
}

main {
  display: flex;
  height: 33rem;
}
.info-panel {
  width: 30%;
}
form {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.294) 0px 0px 5px;
  border-radius: 5px;
  padding: 1.4rem 0.9rem;
  background-color: #fff;
}

form h5 {
  font-size: 15px;
  margin-bottom: 1.1rem;
}

label {
  display: block;
  color: var(--myColor);
  font-size: 0.8rem;
  margin-bottom: 0.65rem;
}
input,
select {
  width: 100%;
  padding: 7px;
  border: 1px solid #d6d6d6;
  outline: none;
  border-radius: 6px;
  margin-bottom: 0.8rem;
}
input::placeholder {
  font-size: 0.8rem;
}

input {
  transition: all 0.3s;
}

input:focus {
  border: 1px solid #979797;
}

#email-address {
  margin-bottom: 1.5rem;
}

select {
  padding: 6px;
  appearance: none;
}

#destination-city {
  margin-bottom: 1.5rem;
}

.origin {
  display: flex;
  gap: 10px;
}
.province {
  width: 50%;
}
.city {
  width: 50%;
}
.destination {
  display: flex;
  gap: 10px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
button {
  color: #fff;
  border: none;
  background-image: linear-gradient(90deg, #ed0f0f, #d04d4d);
  padding: 6px 15px 3px 15px;
  border-radius: 4px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  box-shadow: inset 0 0 10px #00000040;
}

.btn-confirm {
  background-image: linear-gradient(117deg, #0ce217, #008f0d);
}

button:active {
  transform: scale(0.8);
}

.info-panel {
  margin: 15px;
}

.info-panel h2 {
  margin-bottom: 12px;
}

.info-panel p {
  color: var(--myColor);
  line-height: 1.3rem;
  text-justify: auto;
}

/* ------------------------- Responsive ------------------------- */

@media (max-width: 928px) {
  body {
    overflow: auto;
  }
  main {
    flex-direction: column-reverse;
    height: auto;
    gap: 1rem;
  }
  form,
  .info-panel {
    width: 100%;
  }
  .info-panel {
    margin: 15px 0;
  }
  .step-number {
    font-size: 12px;
    width: 20px;
  }
  .step-title {
    font-size: 12px;
  }
  .step-divider {
    width: 50px;
  }
}

@media (max-width: 762px) {
  .progress-steps {
    width: 95%;
    gap: 0.5rem;
  }
  .step-divider {
    width: 25px;
  }
  .step-title {
    font-size: 10px;
  }
  .step-number {
    font-size: 10px;
    width: 15px;
  }
}

@media (max-width: 536px) {
  .step-divider {
    display: none;
  }

  .step-number:not(.step-number--active),
  .step-title:not(.step-title--active) {
    display: none;
  }

  .step-number--active {
    padding: 5px 3px 3px 2px;
    width: 23px;
    font-size: 0.8rem;
  }
  .step-title--active {
    font-size: 1.1rem;
  }

  .progress-steps {
    justify-content: center;
    align-items: center;
  }
}
