/* ------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 245px;
}

.container {
  width: 320px;
  height: 370px;
}
.container h2 {
  text-align: center;
  margin: 0;
  word-spacing: 3px;
  font-size: 1.6rem;
  margin-bottom: 1.3rem;
}

.box-color {
  width: 76%;
  height: 80%;
  margin: 0 auto;
  background-color: rgb(221, 221, 221);
  box-shadow: 0 0 20px #0000003b;
  border-radius: 20px;
  padding-top: 13px;
}
.color {
  width: 89%;
  height: 80%;
  border-radius: 10px;
  background-color: #8181b1;
  margin: 0 auto;
}

.rgb-color {
  text-align: center;
  font-weight: 700;
}
.btn-generator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-random {
  background-color: #139c13;
  border: none;
  color: #fff;
  padding: 8px 45px;
  border-radius: 6px;
  cursor: pointer;
  word-spacing: -3px;
}
